# Ignore macOS system files
.DS_Store

# Ignore Python cache and binary files
__pycache__/
*.py[cod]

# Ignore PyCharm project files
.idea/

## Ignore log, cache, and output files (optional, based on your list)
#*.log
#*.out
#*.txt
#output*
#results
